body
{
    background-image:URL('Tulips.jpg');
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-size:cover;
}
.intern1
{
    background-color:cyan;
    font-size:30px;
    margin:30px;
    padding:20px;
    border-style:groove;
    border-width:6px;
    border-radius:10px;
    color:red;
}
.intern2
{
    margin-left:250px;
    color:brown;
    font-size:10px;
}